/*
	mcjp = mostra cultural jean piaget
	mc = mostra cultural
*/
@font-face{
	font-family:jeans;
	src:url("../font/skinny_jeans_solid.ttf");
}
html{
	font-family: verdana;
}
.brand-logo{
	width:155px;
}
.menu-mc li{
	width:125px;
	font-size: 24px;
}
.mcjp-container-menu{
	margin-top: 20px;
}
.menu-mc li:last-child{
	margin-right:0px;
}
.mcjp-font-menu{
	font-family: jeans;
}	
.mcjp-yellow{
	background:#e4b13b;
}
.mcjp-purple{
	background:#79087e;
}
.mcjp-blue{
	background:#3ca3d7;
}
.mcjp-orange{
	background:#ff954d;
}
footer{
	padding-bottom:25px;
}
.mcjp-logo-start{
	min-width: 154px;
}
.mcjp-start{
	padding:100px 0px;
}
.mcjp-evento{
	padding:63px 0px;
	font-size:1.4rem;
}
.mcjp-evento-border{
	border:2px solid white;
	padding:10px 30px;
}
.mcjp-font-start{
	font-size: 1.6rem;
}
.mcjp-font2-start{
	font-size: 1rem;
}
.mcjp2-font-start{
	font-size: 1rem;
}
.mcjp2-font2-start{
	font-size: 0.8rem;
}
.mcjp-form, .mcjp-conteudo{
	padding-top: 30px;
	padding-bottom: 30px;
}

.mcjp-btn-enviar{
	padding-right: 35px;
}
footer .container div div .footer-font-tit{
	font-size: 1.4rem;
}
.input[type=text]{
	border:#fff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
/*.mc-logo-start{
	margin:100px 0px;
}*/	
[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after,
[type="radio"]:checked+label:after, 
[type="radio"].with-gap:checked+label:after{
	border:#ff9800;
	background:#ff9800;
}
[type="checkbox"].filled-in:checked+label:after{
	border:#ff9800;
	background:#ff9800;
}
.mcjp-programacao-info-start{
	font-weight: bold;
	font-size: 1rem;
	border:2px white solid;
}
.mcjp-tit-horario{
	font-weight: bold;
	font-size: 1.3rem;
}
.mcjp-tit-palestra-prog{
	font-weight: bold;
	font-size: 1.1rem;
}
.mcjp-border-prog .col{
	padding: 15px;
	border:white solid 2px;
}